@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&family=Roboto:wght@100&display=swap");

:root {
  --primary: #41bbf3;
  --secondary: #00a6ed;
  --info: #7fb800;
  --warning: #f6511d;
  --white: #ffffff;
  --offWhite: #f2f2f3;
  --dark: #3b3b3b;
  --outline: #c3c0c0;
  --appBackground: #dddade;
}

body,
button,
input,
select,
textarea {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--appBackground);
  margin: 0;
}

/* This prevents all the links in the app from having default underline */
a {
  text-decoration: none;
  color: inherit;
}
/* This prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}
/* This prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}

/* GLOBAL STYLING FOR ALL THE BUTTONS BUTTONS */
button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  
}

/* These are all the color options for the buttons */
/* If you change the color variables, be sure to change the hover colors to be a darker shade of the colors you chose*/
.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: #e5a000;
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: #0097d7;
}

.btn-warning {
  background-color: var(--warning);
}

.btn-edit {
  background-color: var(--secondary);
  color: white;
  margin: 0;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.btn-edit:hover {
  background-color: rgb(76, 76, 248);
}

.btn-info:hover {
  background-color: #71a500;
}

.btn-heart {
  color: red;
  background: none; /* Removes the background */
  border: none;     /* Removes the border */
  padding: 0;       /* Removes the padding */
  margin: 0;        /* Removes the margin */
  font-size: 20px;  /* Adjust size of the heart icon */
  cursor: pointer;
  padding-right: .2rem;
}

.btn-heart:hover {
  color: rgb(197, 11, 11);
}




